@font-face {
    font-family: "Outfit";
    src: url("fonts/static/Outfit-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Outfit, serif;
}

body {
    color: white;
}

footer {
    padding: 20px;
    background-color: lightslategray;
}

footer .social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto 4% auto;
}

footer .social-medias a {
    margin: 0 2% 0 2%;

}

footer .social-medias img {
    filter: invert(1);
    width: 50px;
}

footer .menu-signup {
    background-color: seagreen;
    padding: 20px;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

footer .footer-links div {
    margin: 0 15px 0 15px
}
