{% extends 'membersbase.html' %}
{% load static %}

{% block header %}
    <meta charset="UTF-8">
    <title>Club France Trou en Un</title>
{% endblock %}

{% block content %}
    <h1 class="page-title">Se connecter</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">Connexion</button>
    </form>
{% endblock %}
