{% extends 'base.html' %}
{% load static %}

{% block header %}
    <meta charset="UTF-8">
    <title>Club France Trou en Un</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="back">
        <a href="{% url 'index' %}">
            <p>retour</p>
        </a>
    </div>
    <h1>Se connecter</h1>
    <form method="post">
    {% csrf_token %}
    <p>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username">
    </p>
        <p>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password">
    </p>
    <button type="submit">Connexion</button>
    </form>

{% endblock %}
