{% extends 'membersbase.html' %}
{% load static %}

{% block header %}
    <meta charset="UTF-8">
    <title>Club France Trou en Un</title>
{% endblock %}

{% block content %}
    <h1 class="page-title">Formulaire d'inscription</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" name="firstname">
        </div>
        <div>
            <label for="lastname">Nom</label>
            <input type="text" id="lastname" name="lastname">
        </div>
        <div>
            <label for="birthdate">Date de naissance</label>
            <input type="date" id="birthdate" name="birthdate">
        </div>
        <button type="submit">S'inscrire</button>
    </form>

{% endblock %}
